@import url("fontawesome-all.min.css");
@import url("./main/layout.css");
@import url("./main/header.css");
@import url("./main/banner.css");


/* Add border around project images */
.image>img {
	border: 30px solid white;
}