@import url("fontawesome-all.min.css");

@import url("./main/layout.css");

@import url("./main/header.css");
@import url("./main/banner.css");
@import url("./main/projects.css");
@import url("./main/button.css");
@import url("./main/footer.css");
@import url("./main/contact.css");

/* Add border around project images */
.image>img {
	border: 30px solid white;
}


/* Skills */

#skills-icons {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 4em;
	margin-bottom: 1em;
	align-items: center;
	justify-items: center;
}

#skills-icons span.icon {
	font-size: 3em;
	margin: .1em;
}

@media screen and (max-width: 480px) {
	#skills-icons {
		grid-template-columns: repeat(5, 1fr);
	}

	#skills-icons span.icon {
		font-size: 2.5em;
	}

	.awards-container span {
		display: none;
	}
}