@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

@import url("./main/reset.css");

@import url("./main/layout.css");

@import url("./main/header.css");
@import url("./main/banner.css");
@import url("./main/projects.css");
@import url("./main/icon.css");
@import url("./main/button.css");
@import url("./main/footer.css");
@import url("./main/contact.css");
@import url("./main/form.css");
@import url("./main/carousel.css");

/* Add border around project images */
.image>img {
	border: 30px solid white;
}

/* Skills */
#skills {
	background-color: rgb(51, 56, 86);
}

#skills dl * {
	font-size: 1.1em;
	margin-bottom: 0.8em;
}

#skills-icons {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 4em;
	margin-bottom: 1.5em;
	align-items: center;
	justify-items: center;

}

#skills-icons svg {
	width: 80%;
}


#skills-icons path {
	fill: white;
}

#skills dl dt {
	font-size: 1.2em;
	-webkit-font-smoothing: antialiased;
}

#skills-icons span.icon {
	font-size: 3em;
	margin: .1em;
	filter: grayscale(1) brightness(10);
}

@media screen and (max-width: 750px) {
	#skills-icons {
		grid-template-columns: repeat(5, 1fr);
		grid-row-gap: 12px;
	}

	#skills-icons span.icon,
	#skills-icons svg {
		font-size: 2.5em;
	}

	#skills-icons svg {
		width: 70%;
	}

	.awards-container span {
		display: none;
	}
}


#about p>span {

	display: inline-block;
	margin-top: 4px;

}

img#me {
	margin: 50px 0px 50px 50px;
	max-width: 330px;
	max-height: 480px;
	width: auto;
	height: auto;
	border: 2px solid white;
	z-index: 20;
}

#about {
	background-color: #7f98d2;
	padding-bottom: 20px;
}

#about>.inner {
	display: flex;
	align-items: center;
	justify-content: center;

}

#about .right,
#about header {
	margin-right: 70px;
}

#about ul.actions {
	float: right;
}

@media all and (max-width: 1200px) {
	img#me {
		max-width: 280px;
/* 		height: 100%; */
	}

	#about .right,
	#about header {
		margin-right: 50px;
	}

}

@media all and (max-width: 900px) {


	img#me {
		max-width: 250px;
/* 		height: 100%; */
		margin: 20px;
	}


}

@media all and (max-width: 700px) {
	#about>.inner {
		flex-direction: column-reverse;
	}

	img#me {
		margin-bottom: 20px;
		max-width: 200px;
		max-height: 291px;
		align-self: center;

		justify-self: flex-start;
	}

#about .right,
	#about header {
		margin-right: 0px;
	}
}


@media all and (max-width: 450px) {
	img#me {
		max-width: 190px;
		max-height: 276px;
	}
	#about ul.actions li:first-child {
		display: none;
	}

	

	#about>.inner>div {
			margin: 0px;
	}
}

section#about , #main > section#skills{
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
