/* Footer */
#footer {
  background-color: #323753;
}

#footer .copyright * {
  color: white;
  line-height: 1;
}

#footer .copyright {

  list-style: none;
  padding-left: 0;
  text-align: center;
}

#footer .copyright li {
  border-left: solid 1px lightgrey;
  display: inline-block;
  line-height: 1;
  margin-left: 1em;
  padding-left: 1em;
}

#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

@media screen and (max-width: 480px) {

  #footer .copyright li {
    display: block;
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
    line-height: inherit;
  }
}

#footer .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}